# {{ ansible_managed }}

server {
    listen 80;

    server_name {{ phpmyadmin_hostname }};

    root /usr/share/phpmyadmin;

    client_max_body_size 64M;

    location / {
        index index.html index.php;
        try_files $uri $uri/ /index.php;
    }

    location ~* \.(gif|jpg|jpeg|png|css|js)$ {
        expires 1d;
    }

    location ~ \.php$ {
        try_files $uri /index.php =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_index index.php;
        fastcgi_pass {{ phpmyadmin_php_fpm_listen }};
        include fastcgi.conf;
    }

    location /libraries {
        deny all;
    }

    location /setup/lib {
        deny all;
    }
}
{% if phpmyadmin_force_ssl %}

server {
    listen 443;

    server_name {{ phpmyadmin_hostname }};

    root /usr/share/phpmyadmin;

    ssl on;
    ssl_certificate /srv/ssl/certs/phpmyadmin.crt;
    ssl_certificate_key /srv/ssl/private/phpmyadmin.key;

    client_max_body_size 64M;

    location / {
        index index.html index.php;
        try_files $uri $uri/ /index.php;
    }

    location ~* \.(gif|jpg|jpeg|png|css|js)$ {
        expires 1d;
    }

    location ~ \.php$ {
        try_files $uri /index.php =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_index index.php;
        fastcgi_pass {{ phpmyadmin_php_fpm_listen }};
        include fastcgi.conf;
    }

    location /libraries {
        deny all;
    }

    location /setup/lib {
        deny all;
    }
}
{% endif %}
